<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - {%mdc} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <root level="all">
    <appender-ref ref="${LOG_APPENDER:-stdout_json}" />
  </root>

</configuration>
